encryption = "age"

[edit]
  command = "vim"
[git]
  autoCommit = true
  autoPush = true
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipients = ["age1n3r8h03mwemvx43tn0j8c4fljwruexsf7kur2aaj449tzwdlh5yqeqkawm"]
