[user]
	name = liliscats
	email = me@lilis.dev
	signingKey = 92C4779D1B5A80F3
[push]
	default = current
[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = main
[core]
	autocrlf = false
	ignorecase = false
	editor = code --wait
	quotepath = false
[color]
	ui = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[ghq]
	root = ~/project
[alias]
	a = add
	co = checkout
	cob = checkout -b
	cm = commit -m
	s = status
	l = log --oneline --graph --decorate
	ls = log --show-signature
	all = add .
	b = branch
	ba = branch -a
