.DS_Store

config/others/.wrangler
config/others/configstore
config/others/jgit
config/others/lazygit/state.yml
config/others/neofetch
config/others/yarn

Brewfile.lock.json
config/others/raycast
config/others/github-copilot
config/others/htop
