#!/bin/bash

system=$(uname)

# Install Formulas and Casks
if [ "$system" == "Darwin" ]; then
  brew bundle --file '~/Brewfile'
fi

# Setup Rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

# Setup Node.js
if [ "$system" == "Linux" ]; then
  yay -S mise
fi

# Setup mise
mise install node@20
mise use --global node@20

# Setup AstroNvim
git clone --depth 1 https://github.com/AstroNvim/AstroNvim ~/.config/nvim
git clone https://github.com/m1sk9/AstroNvimConfig.git ~/.config/nvim/lua/user

# Setup fisher and fish-ghr
# FIXME: fisher install m1sk9/fish-ghr
# curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
# fisher install m1sk9/fish-ghr

