[user]
	name = m1sk9
	email = me@m1sk9.dev
	signingKey = 9B22BDAF34B4A1F3
[push]
	default = current
[pull]
	ff = only
	rebase = false
[init]
	defaultbranch = main
[core]
	autocrlf = input
	ignorecase = false
	editor = vim
	quotepath = false
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[ghq]
	root = ~/project
[alias]
	a = add
	s = status
	l = log --oneline --graph --decorate
	ls = log --show-signature
[rebase]
	updateRefs = true
[fetch]
	prune = true
[status]
	showUntrackedFiles = all
[merge]
	conflictStyle = diff3
